<link rel="stylesheet" href="/css/error.css">
<link href='https://fonts.googleapis.com/css?family=Anton|Passion+One|PT+Sans+Caption' rel='stylesheet' type='text/css'>

<div class="hero-body">
<div class="error">
  <div class="container">
  <div class="columns is-centered">
    <div class="column is-10 has-text-centered">
      <div class="container-error-404">
        <div class="clip">
          <div class="shadow"><span class="digit thirdDigit"></span></div>
        </div>
        <div class="clip">
          <div class="shadow"><span class="digit secondDigit"></span></div>
        </div>
        <div class="clip">
          <div class="shadow"><span class="digit firstDigit"></span></div>
        </div>
        <div class="msg">OH!<span class="triangle"></span></div>
      </div>
      <h2 class="h1">Sorry! Page not found</h2>
    </div>
  </div>
  </div>
</div>
</div>
<script src="./js/error404.js"></script>