<link rel="stylesheet" href="/css/confirm-password-recovery.css">


<div class="container">
    <div class="columns is-multiline">
        <div class="column is-8 is-offset-2 register">
            <div class="columns">
                <div class="column left is-flex-direction-column" id="left">
                    <h1 class="title colored is-4">We are almost there,</h1>
                    <p class="subtitle">new password, new life.</p>
                    <div class="img">
                        <object data="./img/password.svg" width="300px"></object>
                    </div>
                </div>

                <div class="column right is-flex" id="right">
                    <form class="is-flex is-flex-direction-column is-justify-content-center" style="gap: 10px;">
                        <div class="control is-flex is-flex-direction-column is-justify-content-center" style="gap: 10px;">   
                            <label for="code">Introduce Recovery Code:</label>
                            <input id="code" class="input is-primary" type="text" placeholder="6 digits code">
                        </div>

                        <div class="control is-flex is-flex-direction-column is-justify-content-center" style="gap: 10px;">   
                            <label for="password">Introduce new password</label>
                            <input id="password" class="input is-primary" type="password" placeholder="New password">
                        </div>

                        <div class="control is-flex is-flex-direction-column is-justify-content-center" style="gap: 10px;">   
                            <label for="password-confirmation">Confirm your new password</label>
                            <input id="passwordConf" class="input is-primary" type="password" placeholder="Confirm password">
                        </div>

                        <button id="recover" class="button is-primary is-fullwidth" type="submit">Recover your access</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="./js/recover.js"></script>

<script src="https://kit.fontawesome.com/51d0cae634.js" crossorigin="anonymous"></script>