<link rel="stylesheet" href="/css/login-signup.css">

<div class="container">
        <div class="columns is-multiline">
            <div class="column is-8 is-offset-2 register">
                <div class="columns">
                    <div class="column left" id="left-signup">
                        <h1 class="title colored is-4">Sign up</h1>
                        <p class="subtitle">Create your account</p>
                        <form>

                                <div class="control">
                                    <label for="email">Email</label>
                                    <input id="email-signup" class="input is-primary" type="text" placeholder="Email address">
                                </div>

                        

                                <div class="control">
                                    <label class="username">Username</label>
                                    <input id="username-signup" class="input is-primary" type="text" placeholder="Username">
                                </div>



                                <div class="control">
                                    <label class="password">Password</label>
                                    <input id="password-signup" class="input is-primary" type="password" placeholder="password">
                                </div>



                                <div class="control" style="padding-bottom:10px;">
                                    <label class="password">Confirm Password</label>
                                    <input id="password" class="input is-primary" type="password" placeholder="password">
                                </div>


                            <button id="signup" class="button is-primary is-fullwidth" type="submit">Sign up!</button>
                    
                            <div class="has-text-centered" style="padding-top:5px;">
                                <p class="is-size-8">Already have an account? 
                                    <a href="/login" class="has-text-primary" id="signup-link">Log in</a>
                                </p>
                            </div>
                        </form>
                    </div>
                    
                    <div class="column right" id="right-signup">
                        <div class="img">
                        <object data="./img/signup.svg" width="300px"></object>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
    </div>
</div>

<script src="./js/signup.js"></script>

<script src="https://kit.fontawesome.com/51d0cae634.js" crossorigin="anonymous"></script>


