:root {
  --background: #45BF78;
}

body {
  background: var(--background);
  height: 100vh;
}

.field:not(:last-child) {
  margin-bottom: 1rem;
}

.register {
  margin-top: 10rem;
  border-radius: 10px;
}

.left,
.right {
  padding: 4.5rem;
}

#left {
  border-radius: 50px 0 0 0;
  background-color: rgba(255, 255, 255, .5);
  display: flex;
}

#left .img {
  display: flex;
  align-items: center;
}

#right {
  border-radius: 0 50px 0 0;
  background-color: white;
}

  @import 'bulma/css/bulma.css'